<h1>Listing chair_schedules</h1>

<table>
  <tr>
    <th>Member</th>
    <th>Schedule date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @chair_schedules.each do |chair_schedule| %>
  <tr>
    <td><%= chair_schedule.member_id %></td>
    <td><%= chair_schedule.schedule_date %></td>
    <td><%= link_to 'Show', chair_schedule %></td>
    <td><%= link_to 'Edit', edit_chair_schedule_path(chair_schedule) %></td>
    <td><%= link_to 'Destroy', chair_schedule, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Chair schedule', new_chair_schedule_path %>
