<p id="notice"><%= notice %></p>

<p>
  <b>Member:</b>
  <%= @chair_schedule.member_id %>
</p>

<p>
  <b>Schedule date:</b>
  <%= @chair_schedule.schedule_date %>
</p>


<%= link_to 'Edit', edit_chair_schedule_path(@chair_schedule) %> |
<%= link_to 'Back', chair_schedules_path %>
